<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <heliconZoo>
      <!-- These settings are applied when IIS application pool uses 32-bit CPU mode -->
      <application name="rails.project.x86" >
	      <environmentVariables>
          <!-- 
          Deploy file includes the most common commands required to prepare application before launch (bundle install, migrations etc.)
          It is also possible to specify here any script which evenually will be run by rubyw.exe.
          -->
          <!-- 
          <add name="DEPLOY_FILE" value="deploy.rb" />
		      <add name="DEPLOY_LOG" value="log\zoo-deploy.log" />
          -->

		      <!-- By default we run Rails in production mode -->
		      <add name="RACK_ENV" value="development" />

          <!-- If deployment is too long this doesn't let worker to die -->
          <add name="WORKER_REQUEST_TIMEOUT" value="1000" />
		    </environmentVariables>
      </application>

      
      <!-- These settings are applied when IIS application pool uses 64-bit CPU mode -->
	    <application name="rails.project.x64" >
	      <environmentVariables>
          <!-- 
          Deploy file includes the most common commands required to prepare application before launch (bundle install, migrations etc.)
          It is also possible to specify here any script which evenually will be run by rubyw.exe.
          -->
          <!--
          <add name="DEPLOY_FILE" value="deploy.rb" />
		      <add name="DEPLOY_LOG" value="log\zoo-deploy.log" />
          -->

		      <!-- By default we run Rails in production mode -->
		      <add name="RACK_ENV" value="development" />

          <!-- If deployment is too long this doesn't let worker to die -->
          <add name="WORKER_REQUEST_TIMEOUT" value="1000" />
		    </environmentVariables>
      </application>
	  </heliconZoo>


    <handlers>
      <!-- All transports below support Rails 2.3, 3.0 and 3.1 as well as any Rack-based application. Uncomment the one you wish to use. -->
      
      <!-- Ruby 1.9 over FastCGI -->
      <add name="rails.project.x86" scriptProcessor="ruby.1.9.pipe"  path="*" verb="*" modules="HeliconZoo_x86" preCondition="bitness32" resourceType="Unspecified" requireAccess="Script" />
      <add name="rails.project.x64" scriptProcessor="ruby.1.9.pipe"  path="*" verb="*" modules="HeliconZoo_x64" preCondition="bitness64" resourceType="Unspecified" requireAccess="Script" />

      <!-- Ruby 1.8 over FastCGI -->
      <!--
      <add name="rails.project.x86" scriptProcessor="ruby.1.8.pipe"  path="*" verb="*" modules="HeliconZoo_x86" preCondition="bitness32" resourceType="Unspecified" requireAccess="Script" />
      <add name="rails.project.x64" scriptProcessor="ruby.1.8.pipe"  path="*" verb="*" modules="HeliconZoo_x64" preCondition="bitness64" resourceType="Unspecified" requireAccess="Script" />
      -->

      <!-- Ruby 1.9 over HTTP, using Thin as a back-end application server -->
      <!--
      <add name="rails.project.x86" scriptProcessor="thin.http"  path="*" verb="*" modules="HeliconZoo_x86" preCondition="bitness32" resourceType="Unspecified" requireAccess="Script" />
      <add name="rails.project.x64" scriptProcessor="thin.http"  path="*" verb="*" modules="HeliconZoo_x64" preCondition="bitness64" resourceType="Unspecified" requireAccess="Script" />
      -->
    </handlers>


    <!-- Send static files through IIS -->
    <rewrite>
      <rules>

        <rule name="Rewrite to Zoo index if that's an empty application" stopProcessing="true">
          <match url=".?" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{APPL_PHYSICAL_PATH}" pattern="(.*)" ignoreCase="false" />
            <add input="{C:1}config\environment.rb" matchType="IsFile" negate="true" />
          </conditions>

          <action type="Rewrite" url="public\zoo-index.html" />
        </rule>

        <rule name="index" stopProcessing="true">
          <match url="^$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{APPL_PHYSICAL_PATH}" pattern="(.*)" ignoreCase="false" />
            <add input="{C:1}public\index.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="public/index.html" />
        </rule>

        <rule name="Static Files" stopProcessing="true">
          <match url="^(?!public)(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{APPL_PHYSICAL_PATH}" pattern="(.*)" ignoreCase="false" />
            <add input="{C:1}public\{R:1}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>

        <rule name="Rails 3.1 assets" stopProcessing="true">
          <match url="^assets/(.*)$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{APPL_PHYSICAL_PATH}" pattern="(.*)" ignoreCase="false" />
            <add input="{C:1}app\assets\{R:1}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="app/assets/{R:1}" />
        </rule>
        
      </rules>    
	  </rewrite>

  </system.webServer>
</configuration>